<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki:wght@600&family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Deprem-Api</title>
  </head>
  <body>
    
    <div
  class="bg-image"
  style="
    background-image: url('static/image/bg.jpg');
    height: 350vh;
  ">
    <nav class="navbar navbar-expand " id="nav_spec">
      <div id="brand_spec" >Deprem-Api</div>
      <div class="collapse navbar-collapse justify d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active mr-5">
            <a href="https://github.com/Ertugrulmutlu/deprem-api" target="blank">
              <img src="static/image/github.svg" width="100" height="100" class="d-inline-block align-top "  alt="">
            </a>
          </li>
          <li class="nav-item active ">
            <a href="https://www.linkedin.com/in/ertuğrul-mutlu/" target="blank">
              <img src="static/image/linkedin.svg" width="100" height="100" class="d-inline-block align-top "  alt="">
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid" id=""style="margin-top:3%">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
          <div class="jumbotron" id="jumbotron_spec">
            <h1 class="display-5">Bilgilendirme !</h1>
            <hr class="my-4">
            <p class="lead">Bu sitede Deprem-Api'nin ana sitesidir. Altta bulunan kartlar aracılığıyla nasıl kullanılıcağını öğrenebilirsiniz.</p>
            <hr class="my-4">
            <p>Veriler Kandilli rasathanesinden alınmaktadır : <a href="http://www.koeri.boun.edu.tr/scripts/lst9.asp">Kandilli rasathanesi için</a></p>
            <p>Ticari kullanım için lütfen kandilli rasathanesi ve Boğaziçi üniversitesi ile görüşünüz.</p>
            <p>English documentation can be found on github. Our site does not support English for now.</p>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
    <div class="container-fluid " id=""style="margin-top:3%">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-4">
          <div class="jumbotron jumbotron-fluid" id="jumbotron_spec">
            <div class="container">
              <h1 class="display-3">Kullanım</h1>
              <p class="lead">Butona tıklayarak kullanabileceğiniz komutları öğrenebilirsiniz.</p>
              <button type="button" class="btn btn-lg" id="button_spec" data-toggle="modal" data-target="#myModal">Komutlar</button>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header justify d-flex justify-content-center">
                      <h4 class="modal-title">Komutlar</h4>
                    </div>
                    <div class="modal-body justify d-flex justify-content-center">
                      <p>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">500 Depreme bakma = /tum</li>
                          <li class="list-group-item">İlk x depremi gösterme = /ilk/x</li>
                          <li class="list-group-item">Son x depremi gösterme = /son/x</li>
                          <li class="list-group-item">Son depremi gösterme = /son</li>
                          <li class="list-group-item">İlk depremi gösterme = /ilk</li>
                          <li class="list-group-item">Seçtiğiniz tarihteki depremleri gösterme = /tum/YYYY.MM.DD</li>
                          <li class="list-group-item">Seçtiğiniz tarihteki x kadar depremleri gösterme = /tum/YYYY.MM.DD/x</li>
                          <li class="list-group-item">Seçtiğiniz tarihler arasındaki depremleri gösterme = /tum/YYYY.MM.DD-YYYY.MM.DD</li>
                          <li class="list-group-item">Seçtiğiniz tarihler arasındaki x kadar depremi gösterme = /tum/YYYY.MM.DD-YYYY.MM.DD-x</li>
                          <li class="list-group-item">NOT : Dönüşler Json(dict) şeklindedir.</li>
                        </ul>
                      </p>
                    </div>
                    <div class="modal-footer justify d-flex justify-content-center">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Geri git</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="jumbotron jumbotron-fluid" id="jumbotron_spec">
            <div class="container">
              <h1 class="display-3">Özellikleri</h1>
              <p class="lead">Butona tıklayarak Api ile neler yapabileceğinizi öğrenebilirsiniz.</p>
              <button type="button" id="button_spec"  class="btn btn-lg" data-toggle="modal" data-target="#myModala">Özellikleri</button>
              <!-- Modal -->
              <div class="modal fade" id="myModala" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header justify d-flex justify-content-center">
                      <h4 class="modal-title">Özellikleri</h4>
                    </div>
                    <div class="modal-body justify d-flex justify-content-center">
                      <p>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Son 500 depremi görebilir.</li>
                          <li class="list-group-item">Dilediğiniz ilk x kadar depremi gösterebilir.</li>
                          <li class="list-group-item">Dilediğiniz son x kadar depremi gösterebilir.</li>
                          <li class="list-group-item">Son depremi gösterebilir.</li>
                          <li class="list-group-item">İlk depremi gösterebilir.</li>
                          <li class="list-group-item">Seçtiğiniz tarihteki depremleri gösterebilir.</li>
                          <li class="list-group-item">Seçtiğiniz tarihte olan x kadar depremi gösterebilir.</li>
                          <li class="list-group-item">Seçtiğiniz tarihler arasındaki depremleri gösterebilir.</li>
                          <li class="list-group-item">Seçtiğiniz tarihler arasındaki x kadar depremi gösterebilir.</li>
                          <li class="list-group-item">NOT: Rasathane sayfasındaki en üstteki veri api için "ilk", Rasathane sayfasındaki en alttaki veri api için "son"dur.</li>
                        </ul>
                      </p>
                    </div>
                    <div class="modal-footer justify d-flex justify-content-center">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Geri git</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
    <div class="container-fluid" id=""style="margin-top:3%">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
          <div class="jumbotron" id="jumbotron_spec">
            <h1 class="display-5">Selam Dostum !</h1>
            <hr class="my-4">
            <p class="lead">Sitenin ve Api'ın gelişmesi için önerilerini bekliyorum yapabileceğin gönüllülük esası bir şey olursa da lütfen bana yazmaktan çekinme.</p>
            <hr class="my-4">
            <div class="container-fluid">
              <div class="row">
                <div class="col-4 mt-5">
                  <img src="static/image/mail.svg" width="30" height="30" class="d-inline-block align-top" style="margin-left: 90px;"  alt="">
                  <p>ertugrulmutlu004@gmail.com</p>
                </div>
                <div class="col-4 mt-5">
                  <p>Site tamamen Ertuğrul Mutlu tarafından hazırlanmıştır.</p>
                </div>
                <div class="col-4 mt-5">
                  Kullanım örnekleri ve kaynak kodlarına github üzerinden ulaşabilirsiniz. <br> Tekrardan geçmiş olsun Türkiye!!
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </div>
  </body>
</html>