
#nav_spec{
  background-color: transparent;
  border-bottom: solid;
  border-bottom-color: #555555;
  border-radius: 10px;
 
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
#brand_spec{
 font-size: 200%;
 color:#16003B ;
 font-style: oblique;
 font-family: 'Noto Serif Khojki', serif;
 font-family: 'Roboto Slab', serif;
}
#jumbotron_spec{
  font-family: 'Noto Serif Khojki', serif;
  font-family: 'Roboto Slab', serif;
  background-color: #7F8487;
  border-radius: 20px;
}
#button_spec{
  background-color: darkgrey;
}
#border{
  border-style: solid;
  border-width:thick;
}